DIETPI_HOST=192.168.4.40
DIETPI_USER=root
# Keep quotes if password includes special characters like # ! $ or spaces.
DIETPI_PASSWORD=changeme
DIETPI_TARGET_ROOT=/usr/share/snapserver/snapweb
# Set to 1 to restart snapserver after deploy, 0 to skip restart.
DIETPI_RESTART=1
